/*** FONTS ***/
.dog-name, .dog-bio {
    font-family: Poppins;
}

.dog-name {
    font-weight: 600;
}

.dog-bio {
    font-weight: 400;
}

/*** LAYOUTS ***/

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-container {
    width: 34em;
    height: 60em;
    box-shadow: 0 10px 20px #E9E9EA;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.75em;
    max-height: 5em;
    max-width: 100%;
}

.user-icon img, .tindog-logo img, .chat-icon img {
    max-height: 2em;
}

.card-container {
    height: 47em;
}

.dog-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dog-card img {
    width: 33em;
    height: 47em;
}

.buttons-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 9em;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5em;
    height: 5em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 50%;
    box-shadow: 0 10px 20px #E9E9EA;
}